AddHandler application/x-httpd-alt-php74___lsphp .php
# BEGIN ANSIBLE MANAGED BLOCK
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{HTTP_HOST} oasisreading.org.oasisashburtonpark.org$
RewriteRule ^(.*)$ "http://oasisashburtonpark.org/404" [R=301,L]
</IfModule>
# END ANSIBLE MANAGED BLOCK
DirectoryIndex index.php index.cgi index.html index.htm index.shtml index.wml
